:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --trird-text-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.logo-header,
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  color: var(--black-logo-color);
  margin-right: 93px;
}
.blue-logo-header,
.blue-logo-footer {
  color: var(--accent-color);
}

/* Navigation section */
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link,
.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link {
  color: inherit;
  padding: 32px 0;
}
.navigation-link.current {
  color: var(--accent-color);
}
.logo-header:focus,
.logo-header:hover {
  color: #188ce8;
}
.navigation-link:hover,
.navigation-link:focus,
.logo-footer:hover,
.logo-footer:focus,
.contacts-header:hover,
.contacts-header:focus,
.contacts-footer:focus,
.contacts-footer:hover {
  color: var(--accent-color);
}

/* Contacts */
.contacts-header {
  color: var(--secondary-text-color);
}

/* Hero section */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background-color: #188ce8;
}
.hero-title,
.advantages-title {
  text-transform: uppercase;
}

/* Other sections */
.advantages {
  padding-top: 94px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.section-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ADVANTAGES SECTION */
.advantages-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}
/* WORKS SECTION */
.works-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.works-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* TEAM SECTION */
.team {
  background-color: var(--third-background-color);
}
.team-member-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-member-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-member {
  background-color: var(--primary-background-color);
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-member-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  color: var(--trird-text-color);
}

/* Portfolio styles of main content*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button.main {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
  background: var(--third-background-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.list-of-works {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.work-example {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.work-example-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.kind-of-work {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
